{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}To-Do List{% endblock %}

{% block content %}
    <h1>
      To-do List
    <a href="{% url 'list:task-create' %}" class="btn btn-primary">Create</a>
    </h1>
    <p>Welcome to the To-Do List app. This is a simple app that allows you to create a list of tasks that you need to complete.</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Created at</th>
          <th>Deadline</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
          <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.created_at}}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.completed }}</td>
            <td>{{ task.tags }}</td>
            <td>
              <a href="{% url 'list:task-update' task.id %}" class="btn btn-update">Update</a>
              <a href="{% url 'list:task-delete' task.id %}" class="btn btn-delete">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
